
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html ,body{
    min-height: 100%;
}

:root{
    --clr-gold: #BB860B;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(img/towers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.comingSoon{
    color: var(--clr-gold);
}

span{
    color: var(--clr-gold);
}

@media screen and (min-width: 601px) {
    main{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        min-height: 80vh;
        width: 70%;
        min-width: 601px;
        border-radius: 20px;
        padding: 2em;
        background-image: linear-gradient(rgba(255,255,255,0.7) , rgba(255,255,255,0.7));
        display: flex;
        justify-content: space-evenly;
        
    }

    .logo{
        width: clamp(100px,7vw,200px);
    }

    .sides{
        width: 50%;
    }

    .left{
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .content{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .sign{
        height: 100%;
        width: 90%;
        background-image: url(/img/phonesign.jpg);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
    }

}

@media screen and (max-width: 600px) {
    body{
        background-image: url(img/towers_Rotate.jpg);
    }

    .comingSoon, .disc , .cont {
        margin-bottom:10%;
    }

    .container{
        width: 100vw;
        min-height: 100vh;
        background-image: linear-gradient(rgba(255,255,255,0.7) , rgba(255,255,255,0.7));
 
    }

    .left{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2em;
    }

    .right{
        display: none;
    }

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .logo img {
        width: 35vw;
    }

    .content{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .comingSoon{
        font-size: 1.175rem;
       
    }
    
    .disc{
        font-size: 1.35rem;
       
    }

}

@media screen and (max-width: 344px) {

    .comingSoon{
        font-size: 1rem;
    }
    
    .disc{
        font-size: 0.975rem;
    }

    .cont{
        font-size: 0.675rem;
    }
}

