@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700;800&family=Overlock:ital,wght@0,400;0,700;1,400&family=Pridi:wght@300;400&display=swap');

body, html{
    font-family: Pridi;
	padding: 0;
}

h1{
    font-family: Catamaran;
    font-weight: 800;
    font-size: 3rem;
    line-height: 40px;
	text-align: center;
}

h2{
	font-family: overlock;
	font-weight: 700;
}

h4{
    font-size: 25px;
	margin-bottom: 5px;
    font-weight: normal;
}

p{
	font-size: 20px;
	font-weight:normal;
}

main h1{
	margin: 16px 0
}

nav{
	background:#845F34;
	background-image: linear-gradient(rgba(0,0,0,0.3),#845F34,#845F34,rgba(0,0,0,0.3))
}

nav ul li{
	font-size: 20px;
}

.navBtn{
	background:#845F34;
	background-image: linear-gradient(rgba(0,0,0,0.3),#C19663,#C19663,rgba(0,0,0,0.3))
}

.landing{
	background: url(https://images.wallpaperscraft.com/image/dog_friend_holiday_73177_1920x1080.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	height: 100vh;
    color: white;
}

.landingText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing button{
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 17px;
    font-weight:normal;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3));
    border: 2px solid white;
    margin-top: 10px;
    color: white;

}

.socialButtons{
	padding: 0;
    position: absolute;
	bottom: 16px;
	right: 24px;
}

.socialButtons ul{
	padding: inherit;
	list-style: none;
	text-align: center;
}

.socialButtons li {
	padding: inherit;
	display: inline-block;
	font-size: 40px;
	text-align: center;
	clear: right;
	margin-right: 17px;
}

.landing a{
	color: inherit;
}

.innerPad{
	box-sizing: border-box;
	padding: 0 5%;
}

.doggyPic{
	margin: 0 auto;
}

.innerPad img{
	margin:0 auto;
}

footer {
	margin-top: 15px;
	background:#845F34;
	color: white;
	bottom: 0;
	text-align: center;
	padding:10px 5%
}

.fBox ul{
	text-align: left;
	border-left: solid;
	padding-left:10px;
	list-style: none
}

.fBox li a{
	color: inherit;
}

.fBox li:hover{
	font-size: 20px;
}

address{
	text-align: left
}
/* Breakpoints going down*/

@media (max-width: 768px) {

	.socialButtons{
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translate(-50%);
		right: 0;
	}
	
	.socialButtons li{
		font-size: 30px;
	}
}