@import url("colors.css");

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

/*Global styles*/
.centering{
    text-align: center;
}

.padding{
    padding: 50px 7%;
}

nav img{
    max-width: 120px;
}

nav a{
    text-decoration: none;
    color: var(--dark-color);
}

nav input[type=button]{
    background-color: var(--accent-color);
}

nav input[type=button]:hover{
    background-color: var(--main-color) !important;
    color: var(--light-color) !important;
}

.form-main{
    min-height: 100vh;
    background-color: var(--main-color);
    background-image: url("https://picsum.photos/id/20/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-containers{
   
}

footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: small;
}

.footer-padding{
    padding-bottom: 10px;
}